.row.bo-add-members
  h4.small-12.column Добавление игрока в игру
  .small-12.column.bo-add-members__control
    input(type="text", placeholder="Поиск игрока по ФИО", ng-model="addMembersVm.searchText.name").bo-add-members__search
    .row
      .small-6.columns.bo-add-members__sort
        span.bo-add-members__sort-title Сортировать:
        span.bo-add-members__sort-btn(ng-click="addMembersVm.setSortProperty('name')",
        ng-class="{ _active: addMembersVm.isSortProperty('name') }") по алфавиту
        span.bo-add-members__sort-btn(ng-click="addMembersVm.setSortProperty('creationDate')",
        ng-class="{ _active: addMembersVm.isSortProperty('creationDate') }") по дате
      .small-6.columns.bo-add-members__sort.text-right
        span.bo-add-members__sort-title Показать:
        span.bo-add-members__sort-btn(ng-click="addMembersVm.toggleShowFilter()") {{ addMembersVm.showFilters[addMembersVm.showFilter] }}
  ul.bo-add-users__list.small-12.column
    li.row(ng-click="addMembersVm.toggleUserInGame(user)", ng-class="{ '_in-game': user.inGame, _master: user.master }",
    ng-repeat="user in addMembersVm.users | filter:addMembersVm.searchText:strict | orderBy:addMembersVm.sortProperty",
    ng-if="addMembersVm.showFilter ? addMembersVm.showFilter === 1 ? user.inGame : !user.inGame : true")
      img.bo-add-users__image(src=require('images/nophoto.png'), ng-if="!user.image")
      img.bo-add-users__image(ng-src="{{ user.image }}", ng-if="user.image")
      .small-9.columns.bo-add-users__name {{ user.name }}
      span.small-2.bo-add-users__date {{ ::user.creationDate | date : 'd.MM.yyyy' }}
      i.small-1.small-offset-1.material-icons
        .bo-add-users__icon._in-game done
        .bo-add-users__icon._remove close
