.bo-members
  .bo-members__list(ng-drop="true", ng-drop-success="membersVm.removeMemberFromTeam($data)")
    a(href="#bo-members-carousel" data-direction="-1").bo-slider-control._left
      i.material-icons chevron_left
    a(href="#bo-members-carousel" data-direction="1").bo-slider-control._right
      i.material-icons chevron_right
    .bo-member.bo-member--add(ng-click="membersVm.showModal('addMembers')")
      img.bo-member__image(src=require('images/add-user.png'))
      .bo-member__name Добавить пользователя
    bo-carousel#bo-members-carousel
      .bo-member(ng-repeat="member in membersVm.unassigned",
      ng-drag="true", ng-drag-data="member")
        img.bo-member__image(src=require('images/nophoto.png') ng-if="!member.image")
        img.bo-member__image(ng-src="{{ member.image }}" ng-if="member.image")
        .bo-member__name {{ member.name }}
        .bo-member__status(ng-if="member.master") Ведущий
  modal(show="membersVm.isCurrentModal('addMembers')", hide="membersVm.hideModal()", reveal-size="small")
    add-members(game-id="membersVm.gameId")
