.bo-user
    h2.bo-user__title Данные пользователя
    .row
        .bo-user__image.small-3.column
            img.bo-user__image(src="{{userVm.user.image}}" ng-if="userVm.user.image")
            img.bo-user__image(src=require('images/nophoto.png') ng-if="!userVm.user.image")
            .bo-user__panel
                input.hide#file(type="file" onchange="angular.element(this).scope().userVm.uploadImage(this)" name="file" accept="image/jpeg,image/png,image/gif")
                label.bo-user__btn.bo-user__file(for="file") Изменить
                a.bo-user__btn Удалить
        .bo-user__info.small-9.column
            .bo-user__item.row
                .small-3.column
                    .bo-user__param Имя пользователя
                .small-9.column
                    input.bo-user__input.input-group-field(placeholder="Имя пользователя" type="text" ng-model="userVm.user.name")
            .bo-user__item.row
                .small-3.column
                    .bo-user__param Тип пользователя
                .small-9.column
                    dropdown-toggle(close-on-click="true")
                        toggle
                          a.bo-user__current.dropdown.button {{ userVm.user ? userVm.status[userVm.user.status] : userVm.status[userVm.newUser.status] }}
                        pane
                          ul.menu.vertical
                              li(ng-repeat="(i,status) in ::userVm.status")
                                  a(ng-click="userVm.setStatus(i)") {{status}}
            .bo-user__item.row
                .small-3.column
                    .bo-user__param Логин
                .small-9.column
                    input.input-group-field.bo-user__input(placeholder="Логин" type="text" ng-model="userVm.user.login")
            .bo-user__item.row
                .small-3.column
                    .bo-user__param Пароль
                .small-9.column
                    input.bo-user__input(placeholder="Пароль" type="password" ng-model="userVm.user.password")
