.bo-teams
  .bo-teams__list(click-outside="teamsVm.setCurrentActiveTeam(null);")
    .bo-team-wrapper(ng-repeat="team in teamsVm.teams", ng-class="{ _active: team.id === teamsVm.currentActiveTeam }")
      .bo-team(ng-click="teamsVm.setCurrentActiveTeam(team.id);$event.stopPropagation()",
      ng-class="{ _delete: teamsVm.deletedTeam === team.id }",
      ng-drop="true", ng-drop-success="teamsVm.addMemberToTeam(team, $data)")
        .bo-team__info(ng-if="team.id !== teamsVm.currentActiveTeam")
          .bo-team__info__number
            span {{ 'Группа №' + ($index + 1) }}
            img.bo-team__info__logo(ng-src="{{ team.image }}" ng-if="team.image")
          .bo-team__info__name
            span "{{ team.name }}"
          .bo-team__info__members-count {{ team.members.length }} участников
        .bo-team__extended-info(ng-if="team.id === teamsVm.currentActiveTeam")
          .row.bo-team__extended-info__wrapper
            .bo-team__extended-info__number.column {{ 'Группа №' + ($index + 1) }}
            .bo-team__extended-info__name.column.text-right "{{ team.name }}"
          .row.bo-team__members
            .bo-team__member.column.small-6(ng-repeat="member in team.members",
            ng-drag="true", ng-drag-data="member")
              img.bo-team__member__image(src=require('images/nophoto.png'), ng-if="!member.image")
              img.bo-team__member__image(ng-src="{{ member.image }}" ng-if="member.image")
              .bo-team__member__name {{ member.name }}
          .row.bo-team__delete
            a(title="Удалить игру" ng-click="teamsVm.deleteTeam(team)").small-1.small-offset-11
              i.material-icons delete
    .bo-team._add-user(ng-click="teamsVm.createTeam()")
      .bo-team__info
        .bo-team__info__name
          i.material-icons add_circle
          span
            |Создать
            br
            |новую команду
  members(unassigned="teamsVm.unassignedMembers")
