.row.bo-content
  modal(show="accessVm.isCurrentModal('deleteUser')", hide="accessVm.hideModal()", reveal-size="tiny")
    h6 Вы действительно хотите удалить пользователя "{{accessVm.userToDelete.name}}"?
    .float-right
      .button.alert.bo-modal__btn(ng-click="accessVm.deleteUser();accessVm.hideModal()") Да, удалить
      .button.bo-modal__btn(ng-click="accessVm.hideModal()") Нет
  .bo-wrapper
    .bo-wrapper__content
      h2.bo-wrapper__title Управление пользователями симулятора
    .bo-access
      .bo-wrapper__content
        .bo-access__control
          .row
            .column.small-4
              label.bo-access__search(for="games-search")
                  |Поиск
                  input.bo-access__input-search(type="text" id="games-search" ng-model="accessVm.searchText" ng-change="accessVm.sortUsers()" placeholder="Введите ФИО, тип пользователя или дату его  создания")
            .small-2.column.small-offset-6.text-right
              .button.success._with-icon(ng-click="accessVm.toggleModal()")
                  i.material-icons add_circle
                  | Создать
      table.bo-access__table.users.bo-table
        thead
          tr
            th №
            th Фото
            th(ng-click="accessVm.setSortProperty('name')")
              .bo-table__row
                .bo-table__column Имя пользователя
                .bo-table__column
                  span.bo-sort-order(ng-class="accessVm.isSortProperty('name')")
            th(ng-click="accessVm.setSortProperty('login')")
              .bo-table__row
                .bo-table__column Логин
                .bo-table__column
                  span.bo-sort-order(ng-class="accessVm.isSortProperty('login')")
            th(ng-click="accessVm.setSortProperty('user.status')")
              .bo-table__row
                .bo-table__column Тип пользователя
                .bo-table__column
                  span.bo-sort-order(ng-class="accessVm.isSortProperty('user.status')")
            th(ng-click="accessVm.setSortProperty('creationDate')")
              .bo-table__row
                .bo-table__column Дата создания
                .bo-table__column
                  span.bo-sort-order(ng-class="accessVm.isSortProperty('creationDate')")
            th
        tbody
          tr(ng-repeat="(userId, user) in accessVm.users | orderBy:accessVm.sortProperty:accessVm.isSortReverse")._clickable
            td {{ $index + 1 }}
            td
                img.bo-users__image._small(src=require('images/nophoto.png') ng-if="!user.image")
                img.bo-users__image._small(ng-src="{{ user.image }}" ng-if="user.image")
            td {{ user.name }}
            td {{ user.login }}
            td {{ accessVm.status[user.status] }}
            td {{ user.creationDate | date : 'd.MM.yyyy' }}
            td.text-right.bo-table__control-wrapper
                button.bo-access__btn.button.icon-only.bo-table__control.transparent(ng-click="accessVm.showUserInfo(user.id)")
                  i.material-icons mode_edit
                button.bo-access__btn.button.icon-only.transparent.alert.bo-table__control._delete(ng-click="accessVm.setUserToDelete(user)")
                  i.material-icons delete_forever
  modal(show="accessVm.isCurrentModal('userInfo')" hide="accessVm.hideModal()")
    user(user-id="accessVm.userId")
    .float-right
        button.bo-modal__btn.button(ng-click="accessVm.saveUserData()") Сохрание
        button.bo-modal__btn.button(ng-click="accessVm.toggleModal()") Отмена
