.bo-game {
  &__lifecycle {
    display: flex;
    padding: 20px 0 32px 0;
    height: 180px;
    box-sizing: border-box;
    &__scenario-dropdown {
      width: 138px;
    }
  }
  &__lifecycle-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5px 20px 5px;
    margin: 0 -5px;
    z-index: 2;
    &::before, &::after {
      content: '';
      position: absolute;;
      width: 50px;
      height: 100%;
      background: #fafafa;
      box-shadow: 0 -20px 20px 10px #fafafa;
      z-index: 1;
    }
    &::before {
      left: -55px;
      right: 0;
    }
    &::after {
      right: -60px;
      top: 0;
    }
  }
  &__choose-scenario {
    .dropdown {
      display: flex;
      border-color: #9E9E9E;
      color: white;
    }
    .dropdown:hover {
      border-color: #fff;
      color: #fff;
    }
    .dropdown-pane {
      padding: 5px;
      width: 180px;
    }
  }
  &__creator-image {
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
  }
  &__setup {
    display: block;
    margin: 0 -50px -50px -50px;
    padding: 50px;
    background: #EEEEEE;
    border: 1px solid #E0E0E0;
    &__angle {
      border: 20px solid transparent;
      border-bottom: 20px solid #E0E0E0;
      position: absolute;
      top: -40px;
      left: 97px;
    }
    &__angle::before {
      content: '';
      left: -20px;
      top: -18px;
      position: absolute;
      border: 20px solid transparent;
      border-bottom: 20px solid #EEEEEE;
    }
    &__content {
      display: none;
    }
    &__content--active {
      display: block;
    }
  }
  &__section {
    margin: 0 2px;
    &__steps {
      display: flex;
    }
    .progress {
      background: transparent;
    }
  }
  &__step {
    flex-shrink: 0;
    flex-grow: 0;
    width: 150px;
    height: 130px;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    &__notice {
      flex: 0 0 auto;
      font-size: 12px;
      text-align: right;
    }
    &__number {
      flex: 0 0 auto;
      position: relative;
      top: 5px;
      left: 5px;
      font-size: 11px;
    }
    &__title {
      flex: 1 0 auto;
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &__action {
      display: none;
    }
    &__action.dropdown  {
      width: 100%;
    }
    &__action.dropdown span {
      max-width: 92px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      .bo-game__step__action {
        display: block;
      }
      .bo-game__step__name {
        display: none;
      }
    }
    .button.expanded + .bo-game__step__name {
      display: none;
    }
    &:not(:last-child) {
      border-right: 0;
    }
    .progress {
      border-radius: 0;
      width: 100%;
      margin: -5px;
      position: absolute;
      bottom: 5px;
      height: 7px;
    }
    .progress .progress-meter {
      border-radius: 0;
    }
    &__type {
      text-transform: uppercase;
      font-size: 15px;
      color: #444;
      margin-top: 5px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -30px;
      left: 0;
      &::before {
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: block;
        margin-right: 10px;
      }
    }
    &._available {
      .bo-game__step-status:not(._approve) {
        display: none;
      }
    }
    &._complete {
      .progress-meter {
        width: 100% !important;
      }
      .bo-game__step-status:not(._approve) {
        display: none;
      }
      .bo-game__step-status._approve {
        display: inline-block;
      }
    }
    &._prepare {
      background: #7E57C2;
      border: 1px solid #512DA8;
      .bo-game__step__type::before {
        background: #7E57C2;
      }
      .progress-meter {
        background-color: #512DA8;
      }
    }
    &._present {
      background: #4CAF50;
      border: 1px solid #43A047;
      .bo-game__step__type::before {
        background: #4CAF50;
      }
      .progress-meter {
        background-color: #43A047;
      }
    }
    &._past, &._present-future, &._future {
      background: #2196F3;
      border: 2px solid #0277BD;
      .bo-game__step__type::before {
        background: #2196F3;
      }
      .progress-meter {
        background-color: #0277BD;
      }
    }
    &._future {
      -webkit-filter: grayscale(1);
      opacity: .3;
    }
    &._first {
      margin-left: 5px;
    }
  }
  &__step-status {
    position: absolute;
    color: #ea5a5a;
    margin: -4px 3px;
    font-size: 23px;
  }
  &__step-status._approve {
    color: #81C784;
    display: none;
  }
}
