body {
  background: #F5F5F5;
  font-family: 'Roboto';
  padding-top: 1px;
}

.bo-wrapper {
  width: 100%;
  background: #FAFAFA;
  padding: 50px 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .1);
  overflow: hidden;
  &__content {
    padding: 0 50px;
  }
  &__back {
    border: 2px solid #444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    position: absolute;
    margin: -35px;
    color: #444;
    display: inline-flex;
    align-items: center;
    &:hover {
      border-color: #258faf;
    }
    .material-icons {
      font-size: 25px;
    }
  }
}

.bo-content {
  margin: 100px auto;
}

.bo-text {
  &._clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 2.6em;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.3em;
  }
}

.button{
  &._with-icon {
    display: inline-flex;
    align-items: center;
    .material-icons {
      margin-right: 5px;
    }
  }
  &.icon-only {
    padding: 3px;
    margin: 0 1rem 0 0;
  }
  &.transparent, &.transparent:hover {
    background: transparent;
    color: #233750;
  }
  &.transparent.alert {
    color: #ec5840;
  }
  &.transparent.alert:hover {
    color: #da3116;
  }
}

.f-dropdown {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 0.875rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-top: 2px;
  li {
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    &:hover, &:focus {
        background: #EEEEEE;
    }
    a {
      display: block;
      padding: 0.5rem;
      color: #555555;
    }
  }
}

.bo-sort-order {
  display: inline-block;
  margin-left: .5rem;
  vertical-align: middle;
  &::before {
    content: '';
    display: block;
    border: .35rem solid transparent;
    border-bottom: .35rem solid #fff;
    border-top: 0;
  }
  &::after {
    content: '';
    display: block;
    border: .35rem solid transparent;
    border-top: .35rem solid #fff;
    border-bottom: 0;
    margin: 1px 0;
  }
  &._up {
    opacity: 1;
    &::after {
      display: none;
    }
  }
  &._down {
    opacity: 1;
    &::before {
      display: none;
    }
  }
}

.dropdown {
  position: relative;
}

.bo-slider-control {
  position: absolute;
  color: #E0E0E0;
  width: 85px;
  transition: all .5s;
  z-index: 1000;
  &._right {
    right: -60px;
  }
  &._left {
    left: -60px;
  }
  .material-icons {
    font-size: 84px;
  }
  &:hover {
    color: #444 !important;
  }
  &:focus {
    color: #E0E0E0;
  }
}

.switch.disabled {
  -webkit-filter: grayscale(1);
  opacity: .3;
  .switch-paddle {
    cursor: not-allowed;;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  &._game-finished {
    color: #E57373;
  }
}

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

.tooltip {
  background-color: rgba(121,85,72,0.9);
  &.left::before {
    border-left-color: rgba(121,85,72,0.9);
  }
  &.bottom::before {
    border-bottom-color: rgba(121,85,72,0.9);
  }
  &.right::before {
    border-right-color: rgba(121,85,72,0.9);
  }
  &.top::before {
    border-top-color: rgba(121,85,72,0.9);
  }
}
