.bo-user {
  &__item {
    padding: 5px 0;
  }
  &__input {
    width: 100% !important;
  }
  &__current {
    width: 100% !important;
    margin: 0 !important;
  }
  &__btn {
    margin: 0 1rem 0 0 !important;
  }
  &__file {
    display: inline-block;
    font-size: 1rem;
    color: #2ba6cb;
    line-height: inherit;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #258faf;
    }
  }
}