.row.bo-content
  modal(show="vm.isCurrentModal('createGame')", hide="vm.hideModal()", reveal-size="tiny")
    label
      h6 Введите название игры
      input(type="text", ng-model="vm.createGameName", placeholder="Название игры", on-enter="vm.createGame()")
    .float-right
      .button.success.bo-modal__btn(ng-click="vm.createGame()" ng-class="{ disabled:  vm.createGameName === '' }") Создать
      .button.bo-modal__btn(ng-click="vm.hideModal()") Отмена
  modal(show="vm.isCurrentModal('deleteGame')", hide="vm.hideModal()", reveal-size="tiny")
    h6 Вы действительно хотите удалить игру "{{vm.gameToDelete.name}}"?
    .float-right
      .button.alert.bo-modal__btn(ng-click="vm.deleteGame()") Да, удалить
      .button.bo-modal__btn(ng-click="vm.hideModal()") Нет
  .bo-wrapper
    .bo-wrapper__content
      h2.bo-wrapper__title Управление играми симулятора
    .bo-games
      .bo-wrapper__content
        .bo-games__control
          .row
            .small-1.column
              label.text-right(for="games-search") Поиск
            .small-3.column
              input(type="text", ng-model="vm.searchText", id="games-search", placeholder="Название игры")
            .small-2.colum.small-offset-6
              .button.success._with-icon(ng-click="vm.showModal('createGame')")
                i.material-icons add_circle
                |Создать игру
      table.bo-table.bo-games__table
        thead
          tr
            th(ng-click="vm.setSortProperty('name')")._sorted
              .bo-table__row
                .bo-table__column Игра
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('name')")
            th(ng-click="vm.setSortProperty('scenario')")._sorted
              .bo-table__row
                .bo-table__column Сценарий
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('scenario')")
            th(ng-click="vm.setSortProperty('members.length')")._sorted
              .bo-table__row
                .bo-table__column Игроки
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('members.length')")
            th Ведущий
            th(ng-click="vm.setSortProperty('period')")._sorted
              .bo-table__row
                .bo-table__column Период
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('period')")
            th(ng-click="vm.setSortProperty('interface')")._sorted
              .bo-table__row
                .bo-table__column Интерфейсы
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('interface')")
            th(ng-click="vm.setSortProperty('creator.name')")._sorted
              .bo-table__row
                .bo-table__column Создатель
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('creator.name')")
            th(ng-click="vm.setSortProperty('creationDate')")._sorted
              .bo-table__row
                .bo-table__column Дата создания
                .bo-table__column
                    span.bo-sort-order(ng-class="vm.isSortProperty('creationDate')")
            th
        tbody
          tr(ng-repeat="game in vm.games | filter:vm.searchText | orderBy:vm.sortProperty:vm.isSortReverse")._clickable
            td {{ ::game.name }}
            td.bo-games__table__scenario {{ game.scenario.name }}
            td {{ game.membersIds.length }}/{{ game.maxMembers }}
            td.bo-games__table__masters
              span(tooltip-placement="top", tooltip="{{ game.mastersNames }}").right.bo-text._clamp {{ game.mastersNames }}
            td
              .row
                |{{ ::game.period }}
                i.material-icons._game-finished(ng-if="game.finished") flag
            td {{ ::game.interface ? 'Доступно' : 'Не Доступно' }}
            td {{ ::game.creator.name }}
            td {{ ::game.creationDateFormatted }}
            td.bo-table__control-wrapper
              a.button.transparent.secondary.tiny.icon-only.bo-table__control._open
                i.material-icons open_in_browser
              a(ui-sref="game({ gameId: game.id })").button.transparent.secondary.tiny.icon-only.bo-table__control
                i.material-icons settings
              .button.transparent.alert.tiny.icon-only.bo-table__control._delete(ng-click="vm.setGameToDelete(game);vm.showModal('deleteGame')")
                i.material-icons delete_forever
